.homeHeader{
    background: url("../../../img/header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 48px 10%;
}

.carHeader {
    background-color: #ff781f;
    padding: 48px 10%;
}

.locationHeader {
    background-color: #4b0076;
    padding: 48px 10%;
}

.managerHeader {
    background-color: #b1bca0;
    padding: 48px 10%;
}
.editHeader {
    background-color: #ffc0cb;
    padding: 48px 10%;
}

.description{
    background-color: gray;
    color: white;
    font-size: 16px;
    display: flex;
    text-align: start;
    padding:8px;
}
.title{
    color: white;
    font-size: 52px;
    display: flex;
    justify-content: left;
    font-weight: 600;
    margin: 0;
}