.App {
  text-align: center;
  background-color: #15253f;
}
.App .nav a{
  color:white;
  text-decoration: none;
  padding: 20px;
}
.App a:visited{
  color:white;
}
.nav{
  padding: 15px;
}


div.nav {
  position: relative;
}

.nav img {
  position: absolute;
}

.nav .homeimg {
  left: 16px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 3px;
}

.nav .notifyimg{
    right: 48px;
    height: 20px;
}
.nav .profileimg {
  right: 16px;
  height: 20px;
}