.App {
  text-align: center;
  background-color: #15253f;
}
.App .nav a{
  color:white;
  text-decoration: none;
  padding: 20px;
}
.App a:visited{
  color:white;
}
img{
  height: 20px;
}
.nav{
  padding: 15px;
}


div.nav {
  position: relative;
}

.nav img {
  position: absolute;
}

.nav .homeimg {
  left: 16px;
}

.nav .notifyimg{
    right: 48px;
}
.nav .profileimg {
  right: 16px;
}